# whereis php 

(php가 설치된 경로 확인)



# crontab -e 

(e는 vi편집모드로 cron을 편집한다.)



 - 03 * * * * /usr/bin/php -q /usr/share/tomcat6/webapps/ROOT/ad_post/auto.php



 설명을 하자면, 맨 앞에 5개의 필드는 시간을 정의한다.

 03 * * * * 은 매 시 3분마다 실행한다는 의미이며,

 */3 * * * * 은 3분마다 실행한다. (차이가 있다!!)

 분 시 일 월 요일 순으로,(범위:00-59,00-23,00-31,01-12,0-7)

 각각 한칸씩 띄워주며, -q 이전은 php의 위치, 이후는 실행할 소스의 위치를 적는다.

 이를 이해하면 .sh나 여타 다른 프로그램도 응용 가능하다.



# /etc/rc.d/init.d/crond restart (cron 재시작)



# crontab -l 

(l은 현재 등록된 내용을 본다.)



# tail /var/log/cron

(로그기록을 살펴본다. 정상작동확인)



작업을 종료시키고 싶다면,

# crontab -r 

(e로 작업해놓은 모든게 사라짐.)
